// Buttons and Knobs

button::-moz-focus-inner { 

    /* "I found out that Firefox adds an extra margin/padding to button
     * elements that cannot be changed by standard CSS, you can however 
     * add the following to make it behave"
     *
     *  http://stackoverflow.com/questions/5939781/
     */

    border: 0;
    padding: 0;
}

button, .btn {
    background: $gray;
    border: 0;
    color: white;
    font: bold 12px $Helvetica;
    padding: 5px 8px;
    margin: 0 0 0 1px;
    @include border-radius(3px);
    cursor: pointer;
    display: inline;

    &.primary {
        background-color: $green;
    }

    &.secondary {
        background-color: $light-gray;
    }

    &.large {
        padding: 10px 50px;
        margin: 15px 0;
        text-transform: uppercase;
    }

    &:disabled, &.disabled {
        opacity: .5;

        &:hover {
            background: $gray;
            cursor: default;
        }
    }
    
    &:hover {
        &.primary:disabled {
            background-color: $green !important;
        }

        &.primary {
            background-color: $darker-green;
        }

        &.secondary {
            background-color: $gray;
        }
    }
}

button.selected {
    background: $green;
}
button.selected:hover, button.selected.drag {
    background: $darker-green;
}

button.join-leave[data-is-member="true"] {
    font-weight: normal;
    background: none;
    color: $red;
    text-decoration: underline;
    &:hover {
        background: $red;
        color: white;
        text-decoration: none;
    }
}

button.join-leave[data-is-member="false"] {
    @extend .selected;
}
