<div id="accounts">
<h2>Social Profiles</h2>
<table>
    <tr>
        <td class="account-type">
            <img src="/assets/twitter.png" />
        </td>
        <td class="account-details">
            <div class="account-type">Twitter</div>
            {% if twitter_account == None %}
                <span class="none">none</span>
                {% if not user.ANON and user.participant == participant %}
                    <a class="btn small" href="{{ twitter.oauth_url(website, unicode('connect'))|e }}">+ Add</a>
                {% endif %}

            {% else %}
            <a rel="me" href="{{ twitter_account.get_url() }}">
                {{ twitter_account.user_info.get('screen_name')|e }}

                {% if twitter_account.user_info.get('name') and twitter_account.user_info.get('name') != twitter_account.user_info.get('screen_name') %}
                    ({{ twitter_account.user_info.get('name')|e }})
                {% endif %}
            </a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="account-type">
            <img src="/assets/octocat.png" />
        </td>
        <td class="account-details">
            <div class="account-type">Github</div>
            {% if github_account == None %}
                <span class="none">none</span>
                {% if not user.ANON and user.participant == participant %}
                    <a class="btn small" href="{{ github.oauth_url(website, unicode('connect'))|e }}">+ Add</a>
                {% endif %}

            {% else %}
            <a rel="me" href="{{ github_account.user_info.get('html_url', '')|e }}">
                {{ github_account.user_info.get('login')|e }}
                {% if github_account.user_info.get('name') and github_account.user_info.get('name') != github_account.user_info.get('login') %}
                ({{ github_account.user_info.get('name')|e }})
                {% endif %}
            </a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="account-type">
            <img src="/assets/bitbucket.png" />
        </td>
        <td class="account-details">
            <div class="account-type">Bitbucket</div>
            {% if bitbucket_account == None %}
                <span class="none">none</span>
                {% if not user.ANON and user.participant == participant %}
                    <a class="btn small" href="{{ bitbucket.oauth_url(website, unicode('connect'))|e }}">+ Add</a>
                {% endif %}
            {% else %}
            <a rel="me" href="{{ bitbucket_account.user_info.get('html_url', '')|e }}">{{ bitbucket_account.user_info.get('username') }}
                {% if bitbucket_account.user_info.get('display_name') and bitbucket_account.user_info.get('display_name') != bitbucket_account.user_info.get('username') %}
                ({{ bitbucket_account.user_info.get('display_name')|e }})
                {% endif %}
            </a>
            {% endif %}
        </td>
    </tr>
    <tr>
      <td class="account-type">
        <img src="/assets/bountysource.png" />
      </td>
      <td class="account-details">
        <div class="account-type">Bountysource</div>
        {% if bountysource_account == None %}
            <span class="none">none</span>
            {% if not user.ANON and user.participant == participant %}
                <a class="btn small" href="{{ bountysource.oauth_url(website, unicode('connect'))|e }}">+ Add</a>
            {% endif %}

        {% else %}
            <a href="{{ bountysource_account.user_info.get('frontend_url', 'https://www.bountysource.com')|e }}"
                >{{ bountysource_account.user_info.get('display_name') }}
            {% if bountysource_account.user_info.get('first_name') and bountysource_account.user_info.get('last_name') %}
                ({{ bountysource_account.user_info.get('first_name')|e }} {{ bountysource_account.user_info.get('last_name')|e }})
            {% endif %}
            </a>
            <div class="account-type">on Bountysource</div>
        {% endif %}
      </td>
    </tr>
    <tr>
        <td class="account-type">
            <img src="/assets/openstreetmap.png" />
        </td>
        <td class="account-details">
            <div class="account-type">OpenStreetMap</div>
            {% if openstreetmap_account == None %}
                <span class="none">none</span>
                {% if not user.ANON and user.participant == participant %}
                    <a class="btn small" href="{{ openstreetmap.oauth_url(website, unicode('connect'))|e }}">+ Add</a>
                {% endif %}
            {% else %}
            <a rel="me" href="{{ openstreetmap_account.user_info.get('html_url', '')|e }}">
            {{ openstreetmap_account.user_info.get('username')|e }}
            </a>

            {% endif %}
        </td>
    </tr>
</table>

<h2>One-off {{ 'Receiving' if user.participant == participant else 'Giving' }} Options</h2>
<table>
    <tr>
        <td class="account-type">
            <img src="/assets/bitcoin.png" />
        </td>
        <td class="account-details">
            <div class="account-type">Bitcoin</div>
            {% if not user.ANON and user.participant == participant %}
                <div class="bitcoin">
            {% else %}
                <div>
            {% endif %}
                {% if participant.bitcoin_address %}
                    <a rel="me" href="http://blockchain.info/address/{{ participant.bitcoin_address }}">
                      {{ participant.bitcoin_address }}
                    </a>
                    {% if not user.ANON and user.participant == participant %}

                    <a href="javascript:;" class="edit-bitcoin btn small toggle-bitcoin">Edit</a>
                    {% endif %}

                {% else %}
                    <span class="none">none</span>
                    {% if not user.ANON and user.participant == participant %}
                        <a class="btn small toggle-bitcoin" href="javascript:;">+ Add</a>
                    {% endif %}
                {% endif %}
            </div>
            <form class="bitcoin-submit">
                <div class="address">
                    <input type="text" class="bitcoin hidden"
                        {% if participant.bitcoin_address %}
                            value="{{ participant.bitcoin_address }}"
                        {% endif %}
                    >
                </div>
                <div class="buttons">
                    <button type="submit" class="small bitcoin hidden">Save</button>
                    <button type="cancel" class="small bitcoin cancel hidden">Cancel</button>
                </div>
            </form>

        </td>
    </tr>
    <tr>
      <td class="account-type">
        <img src="/assets/venmo.png" />
      </td>
      <td class="account-details">
        <div class="account-type">Venmo</div>
        {% if venmo_account == None %}
            <span class="none">none</span>
            {% if not user.ANON and user.participant == participant %}
                <a class="btn small" href="{{ venmo.oauth_url(website) }}">+ Add</a>
            {% endif %}
        {% else %}
            <a href="{{ venmo_account.get_url() }}">
              {{ venmo_account.get_user_name() }}
              ({{ venmo_account.get_display_name() }})
            </a>
        {% endif %}
      </td>
    </tr>
</table>

{% if not user.ANON and user.participant == participant %}
<h2>Adding Money
    {% if user.ADMIN and participant.balanced_account_uri %}
        <a href="https://dashboard.balancedpayments.com/#/{{ participant.balanced_account_uri[4:] }}" title="Go to Balanced Dashboard"><div class="payments-by"></div></a>
    {% else %}
        <div class="payments-by"></div>
    {% endif %}
</h2>
<table>
    <tr>
        <td class="account-type">
            <img src="/assets/card_icon.jpg" />
        </td>
        <td class="account-details">
            <div class="account-type">Credit card</div>
            {% if participant.last_bill_result != "" %}
                {% if participant.last_coinbase_result != "" %}
                    <span class="none">none</span>
                    <a class="btn small" href="/credit-card.html">+ Add</a>
                {% else %}
                    <span class="none">(Delete your coinbase account first)</span>
                    <a class="btn small disabled">+ Add</a>
                {% endif %}                    
            {% else %}
                {{ card['brand'] }} {{ card['number'][-4:] }}
                    <div id="cc-delete">
                        <form action="credit-card.json" class="special" method="POST">
                            <input type="hidden" name="action" value="delete">
                            <div id="delete-cc" class="close" title="Delete card"></div>
                        </form>
                    </div>

            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="account-type">
            <img src="/assets/coinbase_icon.jpg" />
        </td>
        <td class="account-details">
            <div class="account-type">Coinbase</div>
            {% if participant.last_coinbase_result != "" %}
                {% if participant.last_bill_result != "" %}
                    <span class="none">none</span>
                    <a class="btn small" id="connect-coinbase" href="#">+ Add</a>
                {% else %}
                    <span class="none">(Delete your credit card first)</span>
                    <a class="btn small disabled" id="connect-coinbase">+ Add</a>
                {% endif %}
            {% else %}
                <span class="none">connected</span>
                <div id="cb-delete">
                    <form action="bank-account.json" class="special" method="POST">
                        <input type="hidden" name="action" value="delete">
                        <div id="delete-cb" class="close" title="Delete card"></div>
                    </form>
                </div>
            {% endif %}
        </td>
    </tr>
</table>

<h2>Withdrawing Money
    {% if user.ADMIN and participant.balanced_account_uri %}
        <a href="https://dashboard.balancedpayments.com/#/{{ participant.balanced_account_uri[4:] }}" title="Go to Balanced Dashboard"><div class="payments-by"></div></a>
    {% else %}
        <div class="payments-by"></div>
    {% endif %}
</h2>
<table>
    <tr>
        <td class="account-type">
            <img src="/assets/bank_account_icon.jpg" />
        </td>
        <td class="account-details">
            <div class="account-type">Bank account</div>
            {% if participant.last_ach_result != "" %}
                <span class="none">none</span>
                <a class="btn small" href="/bank-account.html">+ Add</a>
            {% else %}
                {{ bank_account['bank_name'] }}
                <div id="ba-delete">
                    <form action="bank-account.json" class="special" method="POST">
                        <input type="hidden" name="action" value="delete">
                        <div id="delete-ba" class="close" title="Delete card"></div>
                    </form>
                </div>
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}
</div>
