<form class="money my-tip{{ " anon" if user.ANON else "" }}">
    <div class="controls">
        $ <input type="number" class="money my-tip" min="0" max="100"
                 step="0.01" value="{{ my_tip }}" data-tippee="{{ tippee }}"
        > / week

        <ul class="suggestions">
            <li><a href="#">$100</a></li>
            <li><a href="#">$25</a></li>
            <li><a href="#">$10</a></li>
            <li><a href="#">$2</a></li>
            <li><a href="#" class="cents">25¢</a></li>
        </ul>
    </div>

    <div class="actions">
        <button class="confirm" disabled>Confirm</button><br>
        <a href="#" class="cancel">Cancel</a>
    </div>
</form>
