<div class="weekly-gift">
    {% if locked %}
        <div class="label">This account has been locked by its owner.</div>
    {% else %}
        {% if user.ANON %}
            {% set my_tip = 0.00 %}
            {% set tippee = participant.username %}
        {% else %}
            {% set my_tip = user.participant.get_tip_to(participant.username) %}
            {% set tippee = participant.username %}
        {% endif %}

        <div class="label">Your Weekly {{ "Pledge" if path.decoded.startswith('/on/') else "Gift" }}:</div>
        <div class="amount">${{ my_tip }} / wk</div>

    {% endif %}

</div>
<div class="nav level-1">
    {% if locked %}
    {% elif user.ANON %}
        {% include "templates/my-tip.html" %}
        {% include "templates/sign-in-using-to-give.html" %}
    {% else %}
        {% include "templates/my-tip.html" %}
        {% if user.participant.last_bill_result %}
            <div id="payment-prompt" class="help really-needed">Fix your <a
                href="/credit-card.html" class="highlight">credit
                card</a> to make sure your gifts go through!</div>
        {% endif %}
    {% endif %}
</div>

{% if has_payment_method %}
{% else %}
    <div class="promo-bar">
        <img src="/assets/star.png" />
        Now supporting Coinbase! <a class="coinbase" href="#">Connect your Coinbase account.</a>
    </div>
{% endif %}