{% extends "templates/participant.html" %}
{% block scripts %}
    {% if user.ADMIN %}<script src="{{ website.asset_version_url }}/admin.js"></script>{% endif %}
    <script>$(document).ready(Gittip.tips.init)</script>
    <script>$(document).ready(function() {
      $('#goal-custom').on('click change', function() {
        $('#goal-yes').attr('checked', true)
      })
    })</script>
{% endblock %}

{% block heading %}<h2 class="top"><span>{{ hero }}</span></h2>{% endblock %}

{% block nav %}
{% set current_page = path.raw.split('/')[2] %}

{% if user.participant == participant or user.ADMIN %}
<div class="profile-nav">
    {% set pages = [('/', 'Profile'), ('/giving/', 'Giving'), ('/history/', 'History'), ('/widgets/', 'Widgets')] %}
    {% for slug, name in pages %}
    <a href="/{{ participant.username }}{{ slug }}"><button class="small{% if slug.strip('/') == current_page %} selected{% endif %}">{{ name }}</button></a>
    {% endfor %}
    {% if participant.show_as_team(user) %}
    <a href="/{{ participant.username }}/members/"><button class="small{% if 'members' == current_page %} selected{% endif %}">Members</button></a>
    {% endif %}
</div>
{% elif participant.show_as_team(user) %}
<div class="profile-nav">
    <a href="/{{ participant.username }}/"><button class="small{% if '' == current_page %} selected{% endif %}">Profile</button></a>
    <a href="/{{ participant.username }}/members/"><button class="small{% if 'members' == current_page %} selected{% endif %}">Members</button></a>
</div>
{% endif %}
{% endblock %}
